# ---------- Base scientific stack ----------
numpy>=1.24.0,<2
scipy>=1.10.0
scikit-image>=0.20.0
matplotlib>=3.7.0
seaborn>=0.12.0
pyyaml>=6.0
tqdm>=4.65.0
h5py>=3.8.0
# ---------- Vision + ML ----------
timm

# ---------- Additional packages (conda -> pip equivalents) ----------
imageio
opencv-python==4.6.0.66
easydict
termcolor
thop
dm-tree
wandb
# python -m pip install -U "pip<26" setuptools wheel
# python -m pip install --force-reinstall "setuptools<70"

# mmcv 빌드 격리 끄고 설치
# python -m pip install --no-build-isolation mmcv==1.7.1